build/
build-*/
coverage/
node_modules/
tmp/
NOTES.md
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.yarn/*
!.yarn/releases
!.yarn/patches/*
!.yarn/plugins
.pnp.*
cc-test-reporter
lerna-debug.log*
extension-chrome.zip
extension-firefox.zip
master-src.zip
npm-debug.log*
tsconfig.*buildinfo
yarn-debug.log*
yarn-error.log*
package-lock.json
_book
docs/html
.idea
.vscode
/packages/extension/src/chains-metadata.json
