build/
build-cjs/
coverage/
node_modules/
tmp/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.npmrc
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*
cc-test-reporter
lerna-debug.log*
master-build.zip
master-src.zip
npm-debug.log*
tsconfig.*buildinfo
yarn-debug.log*
yarn-error.log*
package-lock.json
_book
docs/html
.idea
/yarn.lock
packages/extension-koni-base/src/api/nft/ignore-nft.spec.ts
packages/extension-koni-base/src/api/nft/test_config.ts
packages/extension-koni-base/src/api/nft/statemine_nft/ignore-statemine-nft.spec.ts
packages/extension-koni-base/src/api/nft/unique_nft/ignore-unique-nft.spec.ts
packages/extension-koni-base/src/api/nft/rmrk_nft/ignore-rmrk-nft.spec.ts
packages/extension-koni-base/src/api/nft/quartz_nft/ignore-component-test.spec.ts
packages/extension-koni-base/src/api/nft/quartz_nft/ignore-quartz-nft.spec.ts
packages/extension-koni-base/src/api/nft/karura_nft/ignore-karura-nft.spec.ts
packages/extension-koni-base/src/api/nft/acala_nft/ignore-acala-nft.spec.ts
packages/extension-koni-base/src/api/dotsama/ignore-staking.spec.ts
packages/extension-koni-base/src/api/nft/eth_nft/ignore-moonbeam.api.spec.ts
